* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}
button {
  width: 217px;
  height: 56px;

  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;

  text-align: center;

  color: #fefcf7;
  background: #0e8784;
  border-radius: 6px;
  border: none;
  &:hover {
    background: #66d2cf;
    border-radius: 6px;
  }
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
