.footer {
  background: #333d4b;
  margin-top: 200px;
  &__block {
    height: 120px;
    padding: 0 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list {
    display: flex;
    align-items: center;
    column-gap: 33px;
  }
  &__item {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    letter-spacing: 0.923077px;
    text-transform: uppercase;

    color: #83888f;
  }
  &__item:hover {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    letter-spacing: 0.923077px;
    text-transform: uppercase;

    color: #fefcf7;
  }
  &__link {
    display: flex;
    column-gap: 24px;
  }
  &__logo:hover {
    opacity: 0.5;
  }
}
