.footer {
  background: $DarkGreyBlue;
  margin-top: 200px;
  padding: 47px 85px;
  height: 120px;
  &__content {
    display: flex;
    align-items: center;
    column-gap: 369px;
  }
  &__block {
    display: flex;
    align-items: center;
    column-gap: 103px;
  }
  &__list {
    display: flex;
    align-items: center;
    column-gap: 33px;
  }
  &__item {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    letter-spacing: 0.923077px;
    text-transform: uppercase;

    color: $GreY;
  }
  &__item:hover {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    letter-spacing: 0.923077px;
    text-transform: uppercase;

    color: $lightCream;
  }
  &__link {
    display: flex;
    align-items: center;
    column-gap: 24px;
  }
  &__logo:hover {
    opacity: 0.5;
  }
}
