.header {
  &__coffe {
    margin-top: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list {
    display: flex;
    column-gap: 32px;
  }
  &__item {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    letter-spacing: 0.923077px;
    text-transform: uppercase;

    color: $GreY;
  }
  &__item:hover {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    letter-spacing: 0.923077px;
    text-transform: uppercase;

    color: $DarkGreyBlue;
  }
}
