.section__hero {
  width: 100%;
  height: 600px;
  margin-top: 44px;
  background: url("../img/Bitmap.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 85px 117px;
}
.hero {
  // width: 100%;
  // height: 600px;
  // margin-top: 44px;
  // background: url("../img/Bitmap.png");
  // background-position: center;
  // padding: 85px 117px;
  &__header {
    width: 493px;
    height: 145px;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;

    color: $lightCream;
  }
  &__text {
    width: 445px;
    height: 78px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 56px;

    color: $lightCream;

    mix-blend-mode: normal;
    opacity: 0.8;
  }
}

.collection {
  margin-top: 136px;
  &__wrapper {
    position: relative;
  }
  &__top {
    position: relative;
  }
  &__title {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 150px;
    line-height: 72px;

    text-align: center;

    color: $GreY;
  }
  &__box {
    width: 100%;
    height: 200px;

    position: absolute;
    top: -107px;
    background: linear-gradient(
      180deg,
      rgba(254, 252, 247, 0.0001) 0%,
      #fefcf7 100%
    );
  }
  &__list {
    position: absolute;
    left: 100px;
    top: 50px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    text-align: center;
  }
  &__item {
    max-width: 255px;
  }
  &__subtitle {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin: 71px 0 24px;

    text-align: center;

    color: $DarkGreyBlue;
  }
  &__text {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    text-align: center;

    color: $DarkGreyBlue;
  }
}
.choose {
  position: relative;
  width: 1280px;
  height: 577px;
  background-color: $DarkGreyBlue;
  margin-top: 500px;
  padding-top: 100px;
  border-radius: 5px;

  &__title {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;

    text-align: center;

    color: $lightCream;
  }
  &__text {
    width: 540px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 0 auto;
    text-align: center;

    color: $lightCream;

    mix-blend-mode: normal;
    opacity: 0.8;
  }
  &__list {
    position: absolute;
    left: 38px;
    top: 270px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    text-align: center;

    padding: 72px 48px 48px;
  }
  &__item {
    width: 350px;
    height: 382px;
    background-color: $DarkSyan;
    padding: 72px 48px 48px;
  }
  &__subtitle {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin: 56px 0 24px;

    color: $lightCream;
  }
  &__subtext {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: $lightCream;
  }
}
.work {
  margin-top: 300px;

  &__header {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;

    color: $GreY;
  }
  &__line {
    width: 760px;
    height: 3px;

    margin-top: 80px;
    display: flex;
    align-items: center;

    gap: 335px;
    background: $PaleOrange;
  }
  &__circle {
    z-index: 100;
    width: 31px;
    height: 31px;
    display: block;
    background: $lightCream;
    border: 2px solid $DarkSyan;
    border-radius: 50%;
  }
  &__list {
    display: flex;
    align-items: center;
    margin-top: 67px;
    column-gap: 80px;
  }
  &__title {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;

    color: $PaleOrange;
  }
  &__text {
    width: 255px;
    height: 73px;

    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;

    margin: 38px 0 42px;

    color: $DarkGreyBlue;
  }
  &__subtext {
    width: 285px;
    height: 130px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: $DarkGreyBlue;
    margin-bottom: 64px;
  }
}
